Aditya Ivaturi <ivaturi@gmail.com> <aivaturi@juniper.net>
Charles Howes <charles.howes@globalrelay.net> <git-author@ch.pkts.ca>
Charles Howes <charles.howes@globalrelay.net> <github.com@ch.pkts.ca>
Daniel Gempesaw <gempesaw@gmail.com>
Daniel Gempesaw <gempesaw@gmail.com> <dgempesaw@sharecare.com>
Gordon Child <gordon@gordonchild.com> <gordon@cpanel.net>
Gordon Child <gordon@gordonchild.com> <gchild@solutionstream.com>
Mark Stosberg <mark@stosberg.com> <mark@summersault.com>