Aditya Ivaturi <ivaturi@gmail.com> <aivaturi@juniper.net>
Charles Howes <charles.howes@globalrelay.net> <git-author@ch.pkts.ca>
Daniel Gempesaw <gempesaw@gmail.com> <dgempesaw@sharecare.com>
Emmanuel Peroumalnaik <eperoumalnaik@weborama.com>
Gordon Child <gchild@solutionstream.com> <gordon@cpanel.net>
Gordon Child <gordon@gordonchild.com>
Mark Stosberg <mark@stosberg.com> <mark@summersault.com>